// Colors

$white: #f0f0f0;
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;

// Font size

$font-size-large: 18px;

// Spacing

$s-size: 12px;
$m-size: 16px;
$ml-size: 28px;
$l-size: 32px;
$xl-size: 48px;
$desktop-breakpoint: 450px;
