@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #8d69f1;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

/* Base */

body {
  overflow-y: scroll;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 1.1em;
  background: var(--bg-color);
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* layout */

.page-title {
  display: inline-block;
  font-size: 1em;
  color: var(--heading-color);
}

.btn {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 1em;
  cursor: pointer;
  color: var(--primary-color);
  background: #fff;
}

.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* Forms */

.auth-form {
  max-width: 360px;
  margin: 60px auto;
  border: 1px solid #ddd;
  padding: 40px;
  background: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

label {
  display: block;
  margin: 24px auto;
}

label span {
  display: block;
  margin-bottom: 6px;
}

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
}

textarea {
  min-height: 160px;
}

.error {
  margin: 10px 0;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  color: red;
  background: pink;
}
