@use "sass:color";
@use "../base/global" as g;

// Big button

.big-button {
  background-color: g.$purple;
  border: none;
  border-bottom: 0.8rem solid color.scale(g.$purple, $lightness: -20%);
  color: g.$white;
  font-size: g.$ml-size;
  font-weight: bold;
  margin-bottom: g.$m-size;
  padding: 2.4rem;
  width: 100%;
  outline: none;
}

.big-button:disabled {
  opacity: 0.5;
}

// Normal/small button

.button {
  background-color: g.$purple;
  border: none;
  border-bottom: 0.5rem solid color.scale(g.$purple, $lightness: -20%);
  color: g.$white;
  font-weight: 500;
  padding: g.$s-size;
}

.button--link {
  background: none;
  border: none;
  color: g.$off-white;
  padding: 0;
}

.button--link:hover {
  text-decoration: underline;
}

@media (min-width: g.$desktop-breakpoint) {
  .big-button {
    font-size: g.$l-size;
    margin-bottom: g.$xl-size;
  }
}
