@use "../base/global" as g;

.header {
  background-color: g.$off-black;
  color: g.$white;
  margin-bottom: g.$xl-size;
  padding: g.$m-size 0;
}

// BEM (Block Element Modifier)
.header__title {
  font-size: g.$l-size;
  margin: 0;
}

.header__sub-title {
  color: g.$off-white;
  font-size: g.$m-size;
  font-weight: 500;
  margin: 0;
}
