@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Fascinate+Inline&family=Poppins:wght@300;400;600;700&family=Roboto:wght@400;500;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::selection {
  background: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}
