.projectFilter {
  margin: 30px auto;
}

.projectFilter nav {
  display: flex;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.projectFilter p {
  margin-right: 10px;
  font-size: 0.9em;
}

.projectFilter button {
  border: none;
  border-right: 1px solid #e4e4e4;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);
  background: transparent;
}

.projectFilter button:last-child {
  border: 0;
}

.projectFilter button.active {
  color: var(--primary-color);
}
