.navbar {
  width: 100%;
  padding: 20px 10px;
  background: #effaf0;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  margin-right: auto;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar a {
  text-decoration: none;
  color: #333;
}
