rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Thumbnails folder
    match /thumbnails/{user_id}/{allPaths=**} {
      // Any authenticated user can read avatars
      allow read:
        if request.auth != null;
      // Users can only add avatars to their designated folders
      allow write:
        if request.auth.uid == user_id;
    }
  }
}
