/* DEFAULT & RESET STYLES */

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

button,
input,
select,
textarea {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

/* IE shows a scrollbar when there is no need for one */
textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}
