@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");

/* Base Styles */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
}

html,
body,
#root {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.4em;
  font-family: Raleway, sans-serif;
  color: #333;
  background: #dfdfdf;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 8px;
  font-size: 1em;
  font-family: inherit;
  color: #333;
  background-color: #fff;
}

textarea {
  resize: none;
}

.page-title {
  margin: 40px auto;
  text-align: center;
  color: #333;
}

.loading,
.error {
  margin: 40px auto;
  text-align: center;
}
