.app {
  max-width: 960px;
  margin: 0 auto;
}

.app nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto 60px;
}

.app nav h1 {
  margin-right: auto;
}

.app nav a {
  padding: 4px 10px;
  color: #333;
}

.app nav a.active {
  text-decoration: none;
  color: #fff;
  background-color: #333;
}
